@model AccountEditViewModel

@{ 
    ViewBag.Title = "Edit Account";
}

<div class="container">
    <h2 class="text-center"> Edit Account </h2>
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">
            <form method="post">
                <input asp-for="Id" hidden />
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="FirstName"></label>
                        <input type="text" class="form-control" asp-for="FirstName">
                        <span class="small text-danger" asp-validation-for="FirstName"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="LasttName"></label>
                        <input type="text" class="form-control" asp-for="LasttName">
                        <span class="small text-danger" asp-validation-for="LasttName"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="Age"></label>
                        <input class="form-control" asp-for="Age">
                        <span class="small text-danger" asp-validation-for="Age"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="Password"></label>
                        <input class="form-control" asp-for="Password">
                        <span class="small text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="ConfirmPassword"></label>
                        <input class="form-control" asp-for="ConfirmPassword">
                        <span class="small text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>

                </div>

                <button class="btn btn-success" type="submit">Update Account</button>
                <div class="text text-danger" asp-validation-summary="All"></div>
            </form>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>